RemoteSystemsTempFiles/
Vivado/.Xil/
Vivado/logs/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
bootimages/
PetaLinux/offline.txt
# UPDATER START
Vivado/vck190_fmcp1/
PetaLinux/vck190_fmcp1/
Vivado/vck190_fmcp1_25g/
PetaLinux/vck190_fmcp1_25g/
# UPDATER END
dfx_runtime.txt
.repo.yaml
.memdata_temp_mem_file.mem
Vivado/*.bif
Vivado/*.pdi
Vivado/*.rcdo
Vivado/*.rnpi
Vivado/wdi_info.xml
__pycache__/
*.pyc
Vivado/gen_files/
Vivado/static_files/
